<li class="flex-item">

  <div class="gallery-category">

     <div class="simple-image">
      <%= link_to image_tag(post.image.url(:medium)), post_path(post)  %>

        <!-- <div class="title__rotation">
           <h1 class="widget-title">Living room</h1>
        </div> -->

        <div class="content">
           <!-- <p>View all images</p> -->
        </div>


        <div class="hover__active">
           <p>
             <%= link_to post_path(post) do %>
                <span class="glyphicon glyphicon-comment" aria-hidden="false"><b><%= post.comments.size %></b></span>
              <% end %>
              <!-- <a href="#">view gallery</a> -->
           </p>
           <p >
             <%= link_to post_path(post) do %>
                <span class="fa fa-heart" aria-hidden="false"><b> <%= post.get_upvotes.size %></b></span>
              <% end %>
           </p>
        </div>


     </div>

  </div>

</li>
