<h2>Show post:</h2>


<div class="show-flex">
    <%= image_tag(@post.image.url(:large)) %>
    <br>
    <p class="description">
      <%= @post.description %>
    </p>

    <%= link_to like_post_path(@post), method: :put do %>
     <i class="fa fa-heart"></i>
     <%= @post.get_upvotes.size %>
    <% end %>

</div>
<hr>

<h3>Comments</h3>
<div id='com'>
<!-- Render Partials _comment.html.erb -->
<!-- This will now render the partial in app/views/comments/_comment.html.erb once for each comment that is in the @post.comments collection.
As the render method iterates over the @post.comments collection, it assigns each comment to a local variable named the same as the partial,
in this case comment which is then available in the partial for us to show. -->
<%= render @post.comments %>
</div>

<!-- Show comment form and Render partials from comments folder if user is logged in -->
<h4>Add a comment:</h4>



<div class="row">
<div class="col-sm-offset-3">
            <div class="widget-area no-padding blank">
            <div class="status-upload">
              <!-- <form> -->
              <%= form_for([@post, @post.comments.build], validate: true, remote: true) do |f| %>
                  <% if user_signed_in? %>
                      <%= render "comments/form", f: f %>
                      <% else %>
                       <%= link_to "Please Login to post comments", new_user_session_path %>
                      <% end %>
              <% end %>


            </div><!-- Status Upload  -->
          </div><!-- Widget Area -->
        </div>
</div>







<!-- Check if user is signed in and if it's current user, the owner of the post -->
<% if user_signed_in? && current_user.id == @post.user_id %>
   <%= link_to 'Edit', edit_post_path(@post) %>
   |
   <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<hr>
<br>
<%= link_to '<< Back to Posts', posts_path %>
